<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">

  <title>Title</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){

      //CSS JQUERY
      $("p,h1").css({"webkit-text-fill-color": "#FFFFFF" ,"font-size": "xxx-large","margin": "auto"});
      $("body").css("background-color","#f78200");
      $(".SecondLayer").css({"background-color":"#008e98","width": "80%",
        "height": "80%", "align":"center", "margin":"auto", "opacity": "100%"});
      $("#logo").css({ "width": "80%", "background-position":"center",
        "background-repeat":"no-repeat","background-size": "cover", "margin":"auto"});
      $(".labels").css({ "font-color":"#f78200","font-style": "italics"});

     // $("#Home").css({})
      //LANDING PAGE
      $("#Login").hide();
      $("#Enter").click(function(){
        $("#Welcome").hide();
        $("#Login").show();
      });
      //SIGN IN
      /*    $("#logdata").submit(function (event){
            event.preventDefault();
            $("input[type=text][name=uname]").val();
          });*/

    });
  </script>
  <link rel="stylesheet" type = "text/css" href="/src/resources/pages/css/style.css">
</head>
<body >
<div id="Welcome" class="SecondsLayer" >
  <table style="position: fixed; align-content: center;">
    <th><p> <i>Welcome to EQ Bank !!!</i></p></th>

    <th><button id="Enter" style="position: fixed; font-size: 60px;">Login</button></th>
  </table>
  <div id="logo"> <img src="eqcoin.png">
  </div>
</div>


<br>


<div id="Login" class="SecondLayer">
<br><br>
  <h1 style="padding: initial; text-align: center; font-size: xxx-large"><u>Welcome to EQCoin Bank</u><br></h1>
<br>
  <table class="SecondLayer" style="width: 100%"> <th> </th>
  <th><div class="Loginscreen">
    <form id="logdata" method="POST" action="http://localhost:8080/login">
    <label for="uname"  class="labels" style="text-align: left;">USERNAME</label><br>
    <input type="text" id="uname" name="uname" style="font-size: xx-large;"><br>
    <label for="pwd" class="labels">PASSWORD</label><br>
    <input type="text" id="pwd" name="pwd" style="font-size: xx-large;"><br>
    <input id="Sign" type="submit" style="font-size: xx-large;" value="Submit">
    </form>
  </div></th>
  <th id="Results"> </th>
</table>
</div>

<script type="text/javascript" src="../scripts/event.js"></script>

</body>
</html>
